<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>744254327869-ggoo882obsghpv47tb5st8300dm40uhj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.744254327869-ggoo882obsghpv47tb5st8300dm40uhj</string>
	<key>API_KEY</key>
	<string>AIzaSyDjMaf6TG22JU2GzgkNDRzNgC5qkA4WtiY</string>
	<key>GCM_SENDER_ID</key>
	<string>744254327869</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.dardanxerxa.LocationDemoApp</string>
	<key>PROJECT_ID</key>
	<string>locationdemoapp-78278</string>
	<key>STORAGE_BUCKET</key>
	<string>locationdemoapp-78278.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:744254327869:ios:f764b05fb063a05331ae54</string>
</dict>
</plist>